
* {
    margin: 0;
    padding: 0;
}

.head {
    padding: 0;
    margin: 0;
}

.menu {
    padding: 0;
    margin: 0px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100;
    background-color: #f1f1f1;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 100%;
}

li {
    display: flex;
    justify-content: center;
    margin-right: 0px;
}

.li-menu {
    width: 100px;
    height: 50px;
}

.li-lenguaje {
    width: 60px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    position: relative;
}

.a-menu {
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
}

.a-menu:hover {
    color: white;
    background-color: #0c4472;
}

.menu.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
}

#logo {
    margin-left: 120px;
    width: 50px;
    height: 50px;
    justify-self: flex-end;
}

.icon-dark-mode {
    width: 16px;
    height: 16px;
}

.icon-dark-mode:hover {
    width: 20px;
    height: 20px;
}

.li-dark-mode {
    width: 60px;
}

#sobre-mi {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 60px;
}

.frase {
    width: 50%;
    margin-left: 150px;
}

p {
    display: inline;
}

.p-size {
    font-size: 30px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    line-height: 1;
    text-align: start;
    color: #006796;
}

.p-black {
    color: black;
}

.icon-person {
    width: 200px;
    height: 200px;
}

.curriculum {
    width: 50%;
    margin-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foto {
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
}

button {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1260a2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

button:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: #0c4472;
}

.icon-download {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#container {
    background-color: #f3f3f3;
}

#skills {
    text-align: center;
    margin-right: 120px;
    margin-left: 120px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.p-blue {
    color: #006796;
}

.technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-html,
.icon-css,
.icon-javascript,
.icon-git {
    width: 150px;
    height: 150px;
}